* {
	margin: 5px;
}

body {
	background-color:gold;
}

h1 {
	text-align: center;
	color: green;
}

.panel {
	background-color: darkorange;
}

.panel-heading {
	background-color: purple;
	color:pink;
}