* {
	margin: 5px;
	color:white;
}

body {
	background-image: url(trippy.jpg);
}

h1 {
	text-align: center;
	color: darkorange;
	text-decoration:overline;
	font-weight:bold;
}

.panel {
	background-color: black;
}